<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527755598895-vpm0ir8fpain7u0mael27elu8sja1j92.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527755598895-vpm0ir8fpain7u0mael27elu8sja1j92</string>
	<key>API_KEY</key>
	<string>AIzaSyA37oej0xL1VgT8cVM5eC57dVVOPXeVUhk</string>
	<key>GCM_SENDER_ID</key>
	<string>527755598895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.recuvame.user</string>
	<key>PROJECT_ID</key>
	<string>always-stay-fresh</string>
	<key>STORAGE_BUCKET</key>
	<string>always-stay-fresh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527755598895:ios:d89e20b9acf6e7f5a8bada</string>
	<key>DATABASE_URL</key>
	<string>https://always-stay-fresh-default-rtdb.firebaseio.com</string>
</dict>
</plist>